html, body {
	height: 100%;
	margin: 0;
}

#ide {
	height: calc(100% - 150px);
	width: 50%;
}

#btnParse {
	width: 200px;
	height: 50px;
}

#info {
	color: firebrick;
	text-align: center;
}

#ide, #btnParse, #info {
	display: block;
	margin: 0 auto 20px auto;
}