/* @import url('https://fonts.googleapis.com/css?family=Abel'); */

@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('Abel'), local('abel'), url(../fonts/Abel.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 0;
    font-display: block;
    src: local('Share Tech Mono'), local('ShareTechMono'), url(../fonts/share-tech-mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #384558;
}

body {
    color: #C8CACC;
    font-family: 'Abel', sans-serif;
    user-select: none;
    overflow: hidden;
}

ul, ol {
    margin: 0;
}

/* grids */

#Root, #Chart {
    display: grid;
}

#Root {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    justify-items: center;
    overflow: hidden;
}

#Chart {
    align-items: center;
    text-align: center;
    padding: 50px 50px 0 50px;
}

.Deck {
    display: none;
    padding: 0 50px;
}

#Chart, .Deck {
    left: 0;
    position: relative;
    grid-gap: 14px;
    grid-auto-flow: column;
    transition: left 0.2s ease-out;
}

/* node styles */

.Node {
    white-space: nowrap;
    padding: 4px 10px 5px 10px;
    margin: auto;
    border-color: #1D2533;
    border-radius: 5px;
}

.Shell {
    border: solid 1px #C8CACC;
    border-radius: 10px;
    padding: 8px 14px 14px 14px;
    cursor: default;
}

.Shell>b {
    display: block;
    margin-bottom: 10px;
}

.Inner {
    margin: -4px 0;
}

.Active {
    cursor: pointer;
    border-left: solid 5px #1D2533;
    border-right: solid 5px #1D2533;
    background: #1D2533;
    box-shadow: 0 0 5px #1D2533;
    transition: 0.2s;
}

.Active:hover {
    color: white;
}

/* card styles */

.Card {
    position: sticky;
    width: 350px;
    padding: 15px 6px 10px 15px;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    background: #4C5869;
    box-shadow: 0 0 8px #1D2533;
    cursor: default;
    overflow: hidden scroll;
}

.Card:nth-child(even) {
    background: #424E61;
}

/* scroll bar */

::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: transparent;
    background-color: #242d3d;
    background-clip: content-box;
}

.Card::-webkit-scrollbar {
    width: 9px;
}

.Card::-webkit-scrollbar-thumb {
    border-width: 10px 5px 10px 0;
}

code::-webkit-scrollbar {
    height: 4px;
}

code::-webkit-scrollbar-thumb {
    border-width: 0 0 2px 2px;
    background-color: #545c6d;
}

#cPanel::-webkit-scrollbar {
    width: 10px;
}

#cPanel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: slategray;
}

#cPanel::-webkit-scrollbar-track {
	margin: 25px 0;
}

/* card content styles */

.fa-info-circle, .fa-exclamation-circle {
    margin-right: 5px;
}

.fa-caret-right, .fa-caret-left, .fa-caret-up, .fa-caret-down {
    color: palegreen;
}

.fa-exclamation-circle {
    transform: scale(0.8);
    color: whitesmoke;
}

h4 {
    position: sticky;
    top: -3px;
    color: #1D2533;
    border-style: solid;
    border-width: 0 10px 0 10px;
    border-color: #B8D3FC;
    border-radius: 5px;
    background: #8296b2;
    margin: 0 0 10px 0;
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
    z-index: 2;
    box-shadow: 0 0 10px 10px #4C5869;
}

.Card:nth-child(even)>h4 {
    box-shadow: 0 0 10px 10px #424E61;
}

h5 {
    font-size: 1em;
    margin: 10px 0;
    padding: 6px 3px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
}

em {
    color: palegreen;
    font-style: normal;
}

p {
    line-height: 1.25em;
    margin: 10px 0 0 0;
}

a {
    color: skyblue;
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: white;
}

img {
    display: block;
    width: 100%;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #1D2533;
    background-color: whitesmoke;
}

samp, .Card>code {
    font-family: 'Share Tech Mono';
    font-size: 13px;
}

samp {
    color: plum;
}

code {
    display: block;
    color: ghostwhite;
    margin: 5px 0 0 0;
    padding: 6px 5px 0 5px;
    border-left: solid 5px #1D2533;
    border-right: solid 5px transparent;
    border-radius: 5px;
    background: #303a4a;
    transition: 0.1s ease-out;
    cursor: pointer;
    overflow-x: scroll;
    white-space: pre;
    user-select: text;
}

code:hover {
    box-shadow: 0 0 1px 1px #1D2533;
}

sup, sub {
    font-size: 10px;
    color: whitesmoke;
}

/* admin styles */

#editIcon, #pushIcon, #pullIcon, .deckToggle, .dirToggle, .fa-edit, .fa-remove, .fa-reorder, .fa-object-group, .fa-indent, #newNodeButton, #doneButton, .typeToggle, .newSectionButton, .newContentButton, #newCardButton {
    cursor: pointer;
}

input, textarea {
    font-family: 'Abel';
    font-size: 90%;
    border-radius: 5px;
    border: none;
    margin: none;
    outline: none;
}

.shellInput>input, .nodeInput>input {
    font-size: 100%;
    padding: 5px 10px;
}

.nodeNameInput {
    text-align: right;
    width: calc(85% - 100px);
}

.shellInput>input {
    color: gainsboro;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-align: left;
}

.nodeInput>input {
    background-color: mintcream;
}

.indented>input {
    width: calc(65% - 100px);
}

.nodeInput>.fa-object-group, .fa-indent {
    opacity: 0.5;
}

.indented>.fa-indent {
    opacity: 1;
}

.shellInput>.fa-edit, .shellInput>.fa-indent, .indented>.fa-object-group {
    opacity: 0.1;
    cursor: not-allowed;
}

#cPanel {
    position: absolute;
    width: 160px;
    height: 50px;
    padding-top: 10px;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden auto;
    opacity: 0.1;
    transition: opacity 0.1s ease-in-out;
}

#cPanel.expanded, #cPanel:hover {
    opacity: 1;
}

#cPanel.expanded.lg {
    width: 650px;
    height: calc(100vh - 100px);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 10px #111;
    background-color: rgba(0, 0, 0, 0.6);
}

#editIcon, #pushIcon, #pullIcon {
    transition: transform 0.2s ease-in-out;
}

#editIcon {
    font-size: 25px;
    margin: 0 40px;
    color: whitesmoke;
}

#pushIcon, #pullIcon {
    font-size: 20px;
}

#editIcon:hover {
    transform: scale(1.2) rotateZ(30deg);
}

#pushIcon:hover {
    transform: translateY(-10%);
}

#pullIcon:hover {
    transform: translateY(10%);
}

.nodeNameInput, .dirToggle {
    box-sizing: border-box;
}

.nodeEditGroup {
    padding: 10px 10% 0 0;
    text-align: right;
    transition: padding 0.06s ease-in-out;
}

.dirToggle, .nodeNameInput, .fa-edit, .fa-object-group, .fa-indent, .fa-remove, .fa-reorder, .typeToggle, .editor, #editIcon, #pushIcon, #pullIcon {
    vertical-align: middle;
}

.dirToggle {
    display: inline-block;
    width: 25px;
    height: 23px;
    text-align: center;
}

.dirToggle>.fa-caret-left {
    margin-right: 2px;
}

.fa-edit, .fa-remove, .fa-reorder, .fa-object-group, .fa-indent {
    margin-left: 4px;
}

.fa-edit {
    margin-left: 10px;
}

.fa-object-group, .fa-indent {
    transform: scale(0.85);
}

.fa-indent {
    transform: scale(0.9);
}

#doneButton {
    margin: 30px auto 10px auto;
    width: 180px;
    padding: 10px 0;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.8);
    background-color: palegreen;
    font-size: 20px;
    font-weight: bold;
}

#newNodeButton, #newCardButton {
    margin: 20px 0 25vh 0;
}

.cardEditGroup, .sectionEditGroup {
    margin: 0px;
    transition: margin, 0.6s, ease-out
}

.deckEditGroup {
    width: 85%;
    border-radius: 10px;
    margin: auto;
}

.deckHeading {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 150%;
    background-color: rgba(255, 255, 255, 0.15);
}

.cardEditGroup, .sectionEditGroup {
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
}

.cardEditGroup {
    margin-top: 25px;
}

.cardEditGroup>input {
    width: 60%;
    font-size: 120%;
    text-align: center;
}

.sectionEditGroup {
    margin-top: 15px;
}

.sectionTitle {
    width: 50%;
    padding: 3px 10px;
    text-align: center;
}

.itemEditGroup {
    padding: 0px;
    margin-top: 10px;
    text-align: center;
    transition: padding 0.06s ease-out;
}

.itemEditGroup>textarea {
    width: calc(100% - 60px);
    height: 30px;
    min-height: 30px;
    padding: 5px 10px;
    box-shadow: inset 0 0 10px 2px white;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
}

.typeToggle {
    margin-right: 5px;
}

.newSectionButton, .newContentButton {
    margin: 15px 20px 0 20px;
}

.newParagraphButton {
    color: skyblue;
}

.newImageButton {
    color: goldenrod;
}

.newCodeButton {
    color: plum;
}

.hidden {
    display: none;
}