/* @import url('https://fonts.googleapis.com/css?family=Abel'); */

@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('Abel'), local('abel'), url(../fonts/Abel.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 0;
    font-display: block;
    src: local('Share Tech Mono'), local('ShareTechMono'), url(../fonts/share-tech-mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #C8CACC;
    font-family: 'Abel', sans-serif;
    user-select: none;
}

/* grids */
#Root {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    justify-items: center;
    background: #384558;
    overflow: hidden;
}

#Chart {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 50px 50px 0 50px;
}

.Deck {
    display: none;
    padding: 0 50px;
}

#Chart, .Deck {
    left: 0;
    position: relative;
    grid-gap: 14px;
    grid-auto-flow: column;
    transition: left 0.2s ease-out;
}

/* node styles */
.Node {
    white-space: nowrap;
    padding: 4px 10px 5px 10px;
    margin: auto;
    border-color: #1D2533;
    border-radius: 5px;
}

.Shell {
    border: solid 1px #C8CACC;
    border-radius: 10px;
    padding: 8px 14px 14px 14px;
    cursor: default;
}

.Shell > b {
    display: block;
    margin-bottom: 10px;
}

.Inner {
    margin: -4px 0;
}

.Active {
    cursor: pointer;
    border-left: solid 5px #1D2533;
    border-right: solid 5px #1D2533;
    background: #1D2533;
    box-shadow: 0 0 5px #1D2533;
    transition: 0.2s;
}

.Active:hover {
    color: white;
}

/* card styles */
.Card {
    position: relative;
    width: 350px;
    padding: 15px 6px 10px 15px;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    background: #4C5869;
    box-shadow: 0 0 8px #1D2533;
    cursor: default;
    overflow-y: scroll;
}

.Card:nth-child(even) {
    background: #424E61;
}

.Shade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55px;
    background-image: linear-gradient(
        hsl(215, 16%, 35%) 50%,
        hsla(215, 16%, 35%, 0.978) 54.75%,
        hsla(215, 16%, 35%, 0.925) 58.85%,
        hsla(215, 16%, 35%, 0.857) 62.35%,
        hsla(215, 16%, 35%, 0.781) 65.5%,
        hsla(215, 16%, 35%, 0.701) 68.4%,
        hsla(215, 16%, 35%, 0.62) 71.15%,
        hsla(215, 16%, 35%, 0.538) 73.8%,
        hsla(215, 16%, 35%, 0.455) 76.45%,
        hsla(215, 16%, 35%, 0.373) 79.1%,
        hsla(215, 16%, 35%, 0.291) 81.85%,
        hsla(215, 16%, 35%, 0.212) 84.75%,
        hsla(215, 16%, 35%, 0.138) 87.9%,
        hsla(215, 16%, 35%, 0.07) 91.45%,
        hsla(215, 16%, 35%, 0.019) 95.6%,
        hsla(215, 16%, 35%, 0) 100%
    )
}

.Card:nth-child(even) > .Shade {
    background-image: linear-gradient(
        hsl(217, 19%, 32%) 50%,
        hsla(217, 19%, 32%, 0.978) 54.75%,
        hsla(217, 19%, 32%, 0.925) 58.85%,
        hsla(217, 19%, 32%, 0.857) 62.35%,
        hsla(217, 19%, 32%, 0.781) 65.5%,
        hsla(217, 19%, 32%, 0.701) 68.4%,
        hsla(217, 19%, 32%, 0.62) 71.15%,
        hsla(217, 19%, 32%, 0.538) 73.8%,
        hsla(217, 19%, 32%, 0.455) 76.45%,
        hsla(217, 19%, 32%, 0.373) 79.1%,
        hsla(217, 19%, 32%, 0.291) 81.85%,
        hsla(217, 19%, 32%, 0.212) 84.75%,
        hsla(217, 19%, 32%, 0.138) 87.9%,
        hsla(217, 19%, 32%, 0.07) 91.45%,
        hsla(217, 19%, 32%, 0.019) 95.6%,
        hsla(217, 19%, 32%, 0) 100%
    )
}

/* scroll bar */
::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: transparent;
    background-color: #242d3d;
    background-clip: content-box;
}

.Card::-webkit-scrollbar {
    width: 9px;
}

.Card::-webkit-scrollbar-thumb {
    border-width: 10px 5px 10px 0;
}

code::-webkit-scrollbar {
    height: 4px;
}

code::-webkit-scrollbar-thumb {
    border-width: 0 0 2px 2px;
    background-color: #545c6d;
}

/* card content styles */
.fa-info-circle {
    margin-right: 5px;
}

.fa-caret-right, .fa-caret-left, .fa-caret-up, .fa-caret-down  {
    color: palegreen;
}

h4 {
    position: sticky;
    top: -18px;
    color: #1D2533;
    border-style: solid;
    border-width: 0 10px 0 10px;
    border-color: #B8D3FC;
    border-radius: 5px;
    background: #8296b2;
    margin: 0 0 10px 0;
    padding: 4px;
    font-size: 1.2em;
    text-align: center;
    z-index: 100;
}

h5 {
    font-size: 1em;
    margin: 10px 0;
    padding: 6px 3px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
}

em {
    color: palegreen;
    font-style: normal;
}

p {
    line-height: 1.25em;
    margin: 10px 0 0 0;
}

a {
    color: skyblue;
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: white;
}

img {
    display: block;
    width: 100%;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #1D2533;
    background-color: whitesmoke;
}

samp, .Card > code {
    font-family: 'Share Tech Mono';
    font-size: 13px;
}

samp {
    color: plum;
}

code {
    display: block;
    color: ghostwhite;
    margin: 5px 0 0 0;
    padding: 6px 5px 0 5px;
    border-left: solid 5px #1D2533;
    border-right: solid 5px transparent;
    border-radius: 5px;
    background: #303a4a;
    transition: 0.1s ease-out;
    cursor: pointer;
    overflow-x: scroll;
    white-space: pre;
    user-select: text;
}

code:hover {
    box-shadow: 0 0 1px 1px #1D2533;
}

sup, sub {
    font-size: 10px;
    color: whitesmoke;
}

/* template styles */
.Card > .template {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-out;
    user-select: initial;
}

.Card > .template pre {
    padding: 5px 0;
    border-radius: 5px;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color: #358ccb;
    box-shadow: 1px 0 2px grey;
    overflow: hidden;
}

.Card > .template pre code {
    font-family: 'Share Tech Mono';
    font-size: 13px;
    color: grey;
    background: initial;
}

.Card > .template code {
    display: initial;
    border: none;
    margin: inherit;
    padding: 3px 4px 3px 6px;
    color: #c7254e;
    background-color: #f9f2f4;
    overflow: initial;
}

.Card > .template img {
    margin: 2px 0;
    box-shadow: initial;
    border-radius: initial;
}

.Card > .template .highlight {
    margin-bottom: 0;
    padding: 4px 6px;
    border: 1px solid #2c3e50;
    background-color: #d7e6e0;
}

.Card > .template .notes {
    margin-bottom: 0;
    padding: 4px 6px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: whitesmoke;
}

.Card > .template > * {
    pointer-events: none;
}

/* search bar styles */
/*#searchBar {*/
/*    display: none;*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    border-radius: 10px;*/
/*    border: none;*/
/*    font-size: 1.5em;*/
/*    padding: 5px 10px;*/
/*}*/

/*#searchBar:focus {*/
/*    outline: none;*/
/*}*/