body {
	margin: 0;
    font-family: arial;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

h1 {
    margin: 10px 0 5px 0;
}

#link {
    padding: 5px;
    margin: 10px 20px;
    width: calc(100% - 50px);
    font-family: monospace;
    font-size: 0.8em;
    text-align: center;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
    outline: none;
}

#puzzleContainer {
    position: relative;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
}

#tray {
	margin: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
}

#update {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 1.1em;
    border: none;
    outline: none;
}

#update:active {
    background-color: skyblue;
}

.piece {
	display: inline-block;
    position: absolute;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.1) solid 0.5px;
    box-sizing: border-box;
    transition-property: top, left;
    cursor: -webkit-grab;
}

.piece:active {
    cursor: -webkit-grabbing;
}

.blue {
    color: skyblue;
}

.red {
    color: indianred;
}

.green {
    color: rgb(67, 199, 144);
}

.gold {
    color: rgb(231, 171, 91);
}