* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: black;
    perspective: 1200px;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

p, input {
    text-align: center;
}

input, button {
    border: none;
    outline: none;
}

#label {
    transition: opacity 0.2s ease-in-out;
}

#frame {
    position: relative;
    /* frame background colour */
    background-color: white;
    overflow: hidden;
    z-index: -100;
}

#frame>* {
    position: absolute;
}

#logo {
    /* button background colour */
    background-color: #2c3e50;
    background-image: url('https://app.bsdlaunchbox.com/resources/bsdlogo.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    /* button border colour */
    border: solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
}

.labelBody {
    /* color:  */
}

.labelBody>p{
    font-family: 'Poor Story';
}

.labelBody>button {
    color: white;
    background-color: royalblue;
}

.labelArrow {
    position: relative;
    width: 0;
    height: 0;
    border: solid transparent;
}

.arrow-up {
    border-top-width: 0;
}

.arrow-down {
    border-bottom-width: 0;
}

.arrow-right {
    border-right-width: 0;
}

.arrow-left {
    border-left-width: 0;
}