body {
	margin: 0;
    font-family: arial;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

h1 {
    margin: 10px 0 5px 0;
}

#puzzleContainer {
    position: relative;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
}

#spare {
	margin: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
}

#info {
    border-radius: 10px;
    margin: 10px 20px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.75);
}

.piece {
	display: inline-block;
    position: absolute;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.1) solid 0.5px;
    box-sizing: border-box;
    transition-property: top, left;
    cursor: -webkit-grab;
}

.piece:active {
    cursor: -webkit-grabbing;
}

.blue {
    color: skyblue;
}

.red {
    color: indianred;
}

.green {
    color: rgb(67, 199, 144);
}

.gold {
    color: rgb(231, 171, 91);
}