body {
	margin: 0;
    font-family: arial;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

h1 {
    margin: 5px;
}

#puzzleContainer {
    position: relative;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
}

#spare {
	margin: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
}

#info {
    border-radius: 10px;
    margin: 10px 20px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.75);
}

.piece {
	display: inline-block;
    position: absolute;
    border-radius: 2px;
    border: rgba(255, 255, 255, 0.25) solid 0.5px;
    box-sizing: border-box;
    transition-property: top, left;
    cursor: -webkit-grab;
}

.piece:active {
    cursor: -webkit-grabbing;
}