body {
	margin: 0;
    font-family: arial;
    text-align: center;
    overflow: hidden;
}

#puzzleContainer {
    position: relative;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
}

#spare {
	margin: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
}

#info {
    border-radius: 10px;
    margin: 10px 20px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.75);
}

/*#imageLink {*/
/*	width: 90%;*/
/*  	margin-top: 10px;*/
/*	border: 0.5px solid black;*/
/*	border-radius: 2px;*/
/*	font-family: monospace;*/
/*	font-size: 0.8em;*/
/*	text-align: center;*/
/*}*/

/*#newPuzzle {*/
/*    height: 30px;*/
/*  	margin: 10px 0;*/
/*	padding: 0 30px;*/
/*	border: 2px solid black;*/
/*	border-radius: 15px;*/
/*	background: ghostwhite;*/
/*	color: rgba(0, 0, 0, 0.8);*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*  	font-family: Monospace;*/
/*  	font-size: 1.2em;*/
/*}*/

.piece {
	display: inline-block;
    position: absolute;
    border-radius: 5px;
    border: rgba(255, 255, 255, 0.6) solid 0.5px;
    box-sizing: border-box;
    transition-property: top, left;
    cursor: -webkit-grab;
}

.piece:active {
    cursor: -webkit-grabbing;
}