@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('Share Tech Mono'), local('ShareTechMono'), url(../fonts/share-tech-mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    box-sizing: border-box;
}

html, body, #appContainer {
    margin: 0;
    height: 100%;
}

body {
    user-select: none;
}

select {
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#UI-TB, #linkList, input {
    text-align: center;
}

.nodeBody>hr {
    border: none;
    margin: 4px;
}

#debug, #appContainer, #UI-TB, #linkList, .UI-WS, .UI-LINKS, .nodeRoot {
    position: absolute;
}

.portSocket, .portName {
    display: inline-block;
}

#UI-TB, .portName {
    font-size: 12px;
}

#linkList {
    font-size: 10px;
}

#UI-TB, #linkList {
    z-index: 3;
}

.nodeHead, .portSocket, .linkRef {
    cursor: pointer;
}

#UI-TB {
    padding-right: 2px;
    max-height: 200px;
    overflow-y: scroll;
    box-sizing: content-box;
}

.UI-TBN, .linkRef {
    padding: 2px 8px;
    border-radius: 4px;
    color: skyblue;
    background-color: #404040;
}

.UI-TBN:nth-child(n+2), .linkRef:nth-child(n+2) {
    margin-top: 4px;
}

.UI-WS {
    color: dimgrey;
    padding: 5px 0 0 5px;
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
}

.UI-LINKS {
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 2;
}

.nodeHead {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.nodeOutput>.portRoot {
    text-align: right;
}

.portRoot>input, .portRoot>select {
    font-family: 'Share Tech Mono', monospace;
    border-radius: 2px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}

.portSocket {
    border-radius: 50%;
}

#appContainer {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#run {
    position: absolute;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: lightcyan;
    border-radius: 2px;
}