body {
	text-align: center;
	background: #252525;
}

#ide {
	width: 90vw;
	max-width: 500px;
	height: calc(100vh - 120px);
	padding: 10px;
	border: none;
	outline: none;
	color: ghostwhite;
	background: #1e1e1e;
	resize: none;
}

#btnParse {
	padding: 5px 20px;
}

#info {
	color: firebrick;
}