@mixin codex {
    code {
        color: #e8912d;
        font-family: 'Monaco';
        font-size: 12px;
        border: 1px solid rgba(232, 232, 232, 0.13);
        border-radius: 3px;
        padding: 2px 3px 1px;
        background-color: rgba(232, 232, 232, 0.04);
    }

    .codex-editor__redactor {
        margin: 0;
        padding-bottom: 100px;
    }
    
    .ce-block {
        padding: 0 10px;
        border-radius: 5px;

        &:focus-within {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .ce-block__content {
            ul {
                list-style-position: inside;

                li {
                    margin-bottom: 10px;
                }

                li:last-child {
                    margin: 0;
                }
            }

            .ce-code__select {
                margin-bottom: 5px;
                padding: 2px;
                width: auto;
            }

            .glossary {
                background-color: ghostwhite;
                border-radius: 5px;
                padding: 2px 6px;
                font-weight: bold;
                font-family: 'Monaco';
                font-size: 12px;
                cursor: pointer;
            }

            .html-glossary { color: #e34848 }
            .css-glossary { color: #368af6 }
            .javascript-glossary { color: #ff9c17 }

            .ce-objective-wrapper {
                display: grid;
                grid-template-columns: 2fr 3fr 50px;
                grid-template-rows: 30px auto auto 30px;
                gap: 10px;

                select {
                    padding: 0 5px;
                }

                button {
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }

                .auto-fill {
                    color: ghostwhite;
                    background-color: mediumpurple;
                }

                .auto-fill:active {
                    opacity: 0.8;
                }
                
                .test-container {
                    height: 43px;
                    border-radius: 5px;
                    overflow: hidden;
                }

                .check-button {
                    grid-column: 2;
                }

                .delete-button {
                    color: ghostwhite;
                    background-color: indianred;
                }
            }

            .description-input, .test-container {
                grid-column: span 3;
            }
        }
    }

    .ce-block--focused {
        width: 100%;
        background-image: none;
    }

    .ce-toolbox {
        border-radius: 5px;
    }

    .ce-conversion-toolbar {
        box-shadow: none;
    }

    .ce-toolbox__tooltip, .ce-toolbar__actions {
        display: none;
    }

    .ce-header {
        padding: 20px 0;
    }

    .cdx-simple-image__picture {
        img {
            display: block;
            margin: auto;
            width: auto;
            max-width: 100%;
            max-height: 15vh;
            border-radius: 5px;
        }
    }
}