
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype'),
        url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Share Tech';
    src: url(../fonts/ShareTech/ShareTech-Regular.eot);
    src: local('Share Tech'),
        url(../fonts/ShareTech/ShareTech-Regular.eot#iefix) format('embedded-opentype'),
        url(../fonts/ShareTech/ShareTech-Regular.woff) format('woff'),
        url(../fonts/ShareTech/ShareTech-Regular.woff2) format('woff2'),
        url(../fonts/ShareTech/ShareTech-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monaco';
    src: url(../fonts/Monaco/Monaco.eot);
    src: local('Monaco'),
        url(../fonts/Monaco/Monaco.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Monaco/Monaco.ttf) format('truetype'),
        url(../fonts/Monaco/Monaco.woff) format('woff'),
        url(../fonts/Monaco/Monaco.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code'),
        url(../fonts/Fira/FiraCode-Regular.ttf) format('truetype'),
        url(../fonts/Fira/FiraCode-Regular.woff2) format('woff2'),
        url(../fonts/Fira/FiraCode-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@import './codex.scss';

$red: indianred;
$green: greenyellow;
$blue: skyblue;

@mixin hidden {
    display: none;
}

* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.active-blue {
    color: $blue;
}

.active-green {
    color: $green;
}

.false-red {
    color: crimson;
}

.dim {
    opacity: 0.2;
}

.hidden {
    @include hidden;
}

#root, #left-panel, #top-left-panel, #actions-panel, #code-panel, #code-tabs {
    display: grid;
}

#root {
    height: 100vh;
    font-family: 'Share Tech';
    user-select: none;
    overflow: hidden;
    grid-template-rows: 100vh;
    grid-template-columns:
        /* left-panel width */ 400px
        /* code-panel width */ calc(100vw - 400px);

    #preview-panel {
        background-color: silver;
        overflow: hidden;

        iframe {
            border: none;
        }
    }
}

#settings-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #111;
    
    h1 {
        grid-column: span 2;
        color: silver;
        text-align: center;
    }
    
    p {
        color: $blue;
        text-align: right;
        align-self: center;
        font-size: 12px;
    }

    input {
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 3px 5px;
        background-color: #333;
        color: silver;
    }

    #toggles-container {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 20px;
        grid-column: span 2;
        place-items: center;
        color: silver;

        .toggle-item {
            display: grid;
            grid-auto-flow: column;
            column-gap: 6px;
        }

        .toggle {
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    #settings-actions {
        padding-top: 20px;
        grid-column: span 2;
        text-align: center;

        button {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        #save-settings {
            margin-right: 50px;
            background-color: $green;
        }

        #cancel-settings {
            background-color: $red;
        }
    }
}

#continue-dialogue-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(auto-fill, 30px);
    row-gap: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #111;

    #btnCloseContinueDialogue {
        place-self: center;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        border-radius: 50%;
        background-color: $red;
    }

    .mission-item {
        display: grid;
        grid-template-columns: 1fr 1fr 30px 30px;
        column-gap: 10px;
        place-items: center;
        color: silver;
        background-color: rgba(255,255,255,0.03);
        padding: 5px;
        border-radius: 5px;

        p:first-child {
            color: $blue;
        }

        button {
            padding: 0;
            border-radius: 50%;
            background-color: transparent;
        }

        .load-mission {
            color: $green;
        }

        .remove-mission {
            color: $red;
        }
    }
}

#left-panel {
    grid-template-rows: repeat(auto-fill, minmax(0, 100vh));

    #top-left-panel {
        grid-template-columns:
            /* codex editor width */ 350px
            /* action panel width */ 50px;

        #codex-editor {
            padding: 5px;
            font-family: 'Arial';
            transition: opacity 0.2s ease-in-out;
            overflow: hidden auto;

            &::-webkit-scrollbar {
                width: 2px;
            }
            
            &::-webkit-scrollbar-thumb {
                border: none;
                background-color: #555;
            }

            @include codex;
        }

        #actions-panel {
            place-items: center;
            text-align: center;
            max-height: 100vh;
            background-color: #333;
            overflow-y: auto;
            
            &::-webkit-scrollbar {
                width: 2px;
            }
            
            &::-webkit-scrollbar-thumb {
                border: none;
                background-color: #555;
            }

            h4 {
                margin-bottom: 6px;
            }

            .action-unit {
                width: 100%;
                padding: 20px 0;
            }

            .action-buttons {
                div {
                    padding: 6px 0 2px;
                    color: silver;
                    background-color: #333;
                    transition:
                        color 0.2s ease-in-out,
                        background-color 0.2s ease-in-out;
                    
                    &:hover {
                        color: white;
                        background-color: #222;
                        cursor: pointer;
                    }

                    i {
                        pointer-events: none;
                    }

                    i.mini {
                        transform: scale(0.8);
                    }
                }

                .disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
        }
    }

    #preview-panel {
        height: 225px;

        iframe {
            width: 1280px;
            height: 720px;
            transform: scale(0.3125);
            transform-origin: top left;
        }
    }
}


#code-panel {
    grid-template-columns: 100%;
    grid-template-rows:
        /* tabs panel height */   30px
        /* code editor height */  repeat(auto-fill, minmax(0, 100vh));

    transition: opacity 0.2s ease-in-out;

    #code-tabs {
        grid-gap: 1px;
        grid-auto-flow: column;
        justify-content: start;
        background-color: #333;
        font-size: 0.8rem;
        overflow: auto hidden;
        
        &::-webkit-scrollbar {
            height: 2px;
        }
        
        &::-webkit-scrollbar-thumb {
            border: none;
            background-color: #555;
        }
        
        .tab {
            padding: 8px 12px;
            height: 100%;
            cursor: pointer;
            color: #666;
            background-color: #2a2a2a;
            transition:
                color 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
        
            &:hover {
                color: #aaa;
            }
        
            &.active {
                color: ghostwhite;
                background: #1e1e1e;
            }
        }
    }

    #preview-panel {
        height: 50vh;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
