* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

#content, #grid {
    position: relative;
}

#flexContainer {
    display: flex;
}

#grid {
    background-color: #6abe30;
}

#grid>div {
    position: absolute;
    width: 32px;
    height: 32px;
}

#car {
    background-image: url('https://app.bsd.education/resources/car_blue.png');
    background-size: 60%;
    background-position: 2px center;
    background-repeat: no-repeat;
    transition: left 0.5s linear, top 0.5s linear, transform 0.15s ease-in-out;
    z-index: 1;
}

#chatbot {
    width: 200px;
}

#chatbot>#messages {
    overflow-y: auto;
}

#chatbot>input {
    width: 100%;
    outline: none;
}

#chatbot>button {
    width: 50%;
}

.road {
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
}