* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

#content, #grid {
    position: relative;
}

#flexContainer {
    display: flex;
}

#grid>div {
    position: absolute;
    width: 32px;
    height: 32px;
    /* border: 1px dashed silver; */
}

#car {
    background-image: url('https://app.bsd.education/resources/car_blue.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.6);
    transition: left 0.5s linear, top 0.5s linear, transform 0.15s ease-in-out;
    z-index: 1;
}

#chatbot {
    width: 200px;
}

#chatbot>#messages {
    overflow-y: auto;
}

#chatbot>input {
    width: 100%;
    outline: none;
}

#chatbot>button {
    width: 50%;
}

.road {
    background-repeat: no-repeat;
}