body, input, button {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

strong {
    font-size: 18px;
    color: #2d2d2d;
}

p {
    margin-bottom: 7px;
}

.fluid-container {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.container {
    max-width: 732px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;

    transition: all 0.35s ease-out;
}

.page.current {
    left: 0;
}

#page1 {
    background-color: #AEBFCF;
}

#page2 {
    background-color: #AECFBE;
}

#page3 {
    background-color: #CFBEAE;
}

#page4 {
    background-color: burlywood;
}

#objective {
    max-width: 520px;
    margin: 0 auto;
}

#guessCanvasContainer {
    /* border: 3px solid #2d2d2daa; */
    cursor: default; 
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

#canvasSlider {
    margin: 0 auto 10px;
    overflow: hidden;
    /* border: 3px solid #2d2d2daa; */
}

#canvasContainer {
    position: relative;
    transition: all 0.35s ease-out;
}

.cv {
    position: absolute;
    top: 0;
}

canvas {
    /* border: 1px solid #2d2d2d; */
    cursor: default; 
    display: block;
    background-color: white;
}



#goPage2Btn {
    width: 130px;
}

#objectiveName1 {
    color: #FF2A00;
    font-weight: bold;
}

.prevCV, .nextCV {
    float: left;
    font-size: 30px;
    padding: 0 15px;
    color: #5d5d5d;
    border: 1px solid #5d5d5d;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.prevCV:hover, .nextCV:hover {
    color: white;
    border-color: white;
}





#trainingBtn {
    float: right;
}

#addMoreSample {
    float: right;
    margin-right: 5px;
}

#clearBtn {
    float: right;
    margin-right: 5px;
}

#blackBG {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: -99999px;
    width: 100%;
    height: 100vh;
    color: white;
}

#blackBG img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -100px;
}

#blackBG #loadingMessage {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}


@media only screen and (max-width: 750px) {
    h2 {
        font-size: 24px;
    }
    #guessCanvasContainer {
        width: 560px;
        height: 320px;
    }
    
    #canvasSlider {
        width: 562px;
        height: 322px;
    }
}

@media only screen and (max-width: 590px) {
    h2 {
        font-size: 20px
    }

    h3 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    #guessCanvasContainer {
        width: 448px;
        height: 256px;
    }
    
    #canvasSlider {
        width: 450px;
        height: 258px;
    }
}

@media only screen and (max-width: 450px) {
    h2 {
        font-size: 20px
    }

    h3 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    #guessCanvasContainer {
        width: 360px;
        height: 205px;
    }
    
    #canvasSlider {
        width: 362px;
        height: 207px;
    }
}