
@import url('https://fonts.googleapis.com/css?family=Bangers|Rancho');

* {
    box-sizing: border-box;
    user-select: none;
}

#stackBase, #stackCap, .slice, #notification {
    position: absolute;
}

#stackCap, #stackBase, .slice {
    border: solid 2px rgba(0, 0, 0, 0.1);
}

#stackCap, #stackBase {
    left: calc(50vw - 100px);
    width: 200px;
    background-color: peru;
}

body, html {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Bangers';
    background-color: lightblue;
}

#title {
    font-size: 8vh;
    height: 15vh;
    padding-top: 3vh;
    border-style: double;
    border-color: royalblue;
    border-width: 0 0 10px 0;
    color: royalblue;
    background-color: mintcream;
    white-space: nowrap;
}

#stage {
    position: relative;
    height: 70vh;
}

#stackBase {
    top: calc(90% - 35px);
    height: 35px;
    border-radius: 10px 10px 30px 30px;
}

#stackCap {
    height: 50px;
    border-radius: 50px 50px 10px 10px;
}

.slice {
    border-radius: 10px;
}

.meat {
    background-color: sienna;
    left: calc(50vw - 98px);
    width: 196px;
    height: 20px;
}
.lettuce {
    background-color: forestgreen;
    left: calc(50vw - 105px);
    width: 210px;
    height: 24px;
}
.cheese {
    background-color: gold;
    left: calc(50vw - 90px);
    width: 180px;
    height: 12px;
}
.onion {
    background-color: lemonchiffon;
    left: calc(50vw - 88px);
    width: 176px;
    height: 16px;
}

#control {
    display: flex;
    width: 100vw;
    height: 15vh;
}

.opts {
    flex: 1;
    margin: 0 10px;
    width: 25vw;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px 20px 0 0;
    color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vh;
}

#opt1 {
    background-color: sienna;
    background-image: url('https://app.bsd.education/resources/beef.png');
}

#opt2 {
    background-color: forestgreen;
    background-image: url('https://app.bsd.education/resources/lettuce.png');
}

#opt3 {
    background-color: gold;
    background-image: url('https://app.bsd.education/resources/cheese.png');
}

#opt4 {
    background-color: lemonchiffon;
    background-image: url('https://app.bsd.education/resources/onion.png');
}

#notification {
    left: 50%;
    top: calc(15vh + 10px);
    transform: translateX(-50%);
    width: 90vw;
    max-width: 500px;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: royalblue;
    font-family: 'Rancho';
    font-size: 3vh;
    opacity: 1;
}

#info {
    color: paleturquoise;
}

#action {
    margin: 10px auto 0 auto;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
}