
@import url('https://fonts.googleapis.com/css?family=Bangers|Rancho');

* {
    box-sizing: border-box;
    user-select: none;
}

body, html {
    margin: 0;
    text-align: center;
    overflow: hidden;
    background-color: lightblue;
}

#title {
    height: 15vh;
    padding-top: 3vh;
    border: double royalblue;
    border-width: 0 0 10px 0;
    background-color: mintcream;
    font-family: 'Bangers';
    font-size: 8vh;
    text-align: center;
    color: royalblue;
    white-space: nowrap;
}

#stage {
    position: relative;
    height: 70vh;
}

#stackCap, #stackBase, .slice, #notification {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#stackCap, #stackBase, .slice {
    border: solid 2px rgba(0, 0, 0, 0.1);
}

.slice {
    border-radius: 10px;
}

.meat, #option1 {
    background-color: sienna;
}

.meat {
    width: 196px;
    height: 20px;
}

.lettuce, #option2 {
    background-color: forestgreen;
}

.lettuce {
    width: 210px;
    height: 24px;
}

.cheese, #option3 {
    background-color: gold;
}

.cheese {
    width: 180px;
    height: 12px;
}

.onion, #option4 {
    background-color: lemonchiffon;
}

.onion {
    width: 176px;
    height: 16px;
}

#stackCap, #stackBase {
    width: 200px;
    background-color: peru;
}

#stackCap {
    height: 50px;
    border-radius: 50px 50px 10px 10px;
}

#stackBase {
    top: 85%;
    height: 35px;
    border-radius: 10px 10px 20px 20px;
}

#controls {
    display: flex;
    width: 100vw;
    height: 15vh;
}

.inputOptions {
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vh;
    margin: 0 10px;
    border-radius: 20px 20px 0 0;
    outline: none;
    border: none;
}

.inputOptions:hover {
    background-size: 5.5vh;
}

.inputOptions:active {
    background-size: 5.2vh;
}

#option1 {
    background-image: url('https://app.bsd.education/resources/beef.png');
}

#option2 {
    background-image: url('https://app.bsd.education/resources/lettuce.png');
}

#option3 {
    background-image: url('https://app.bsd.education/resources/cheese.png');
}

#option4 {
    background-image: url('https://app.bsd.education/resources/onion.png');
}

#notification {
    top: 16vh;
    width: 90vw;
    max-width: 500px;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: royalblue;
    font-family: 'Rancho';
    font-size: 3vh;
}

#info {
    color: paleturquoise;
}

#action {
    margin-top: 10px;
    color: whitesmoke;
    cursor: pointer;
}

#action:hover {
    transform: scale(1.1);
}

#action:active {
    transform: scale(1.05);
}
