* {
	margin: 0;
	box-sizing: border-box;
}

main {
	height: calc(100vh - 60px);
}

.node div.output {
	padding-left: 18px;
}

.node div.input {
	padding-right: 8px;
}

div.socket {
	border: none;
	width: 20px;
	height: 20px;
	background-color: darkseagreen;
}

div.socket.output {
	margin-right: -10px;
}

div.socket.input {
	margin-left: -10px;
}

.node div.control {
	padding: 2px 18px;
}

.connection .main-path {
	stroke-width: 3px;
	stroke-linecap: round;
	stroke: darkseagreen;
}

[list]::-webkit-calendar-picker-indicator {
	display: none;
}

.App {
	overflow: hidden;
}

.App-header {
	background-color: #282c34;
	height: 60px;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	place-items: center;
}