* {
	margin: 0;
	box-sizing: border-box;
}

main {
	height: calc(100vh - 60px);
}

/* #flow-view {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-template-rows: 100%;
	border: 6px solid black;
	height: 100%;
}

#graph-editor {
	border: 6px solid dimgray;
}

#graph-output {
	display: grid;
	grid-template-rows: 7fr 3fr;
	place-items: stretch;
	border: 6px solid gray;
}

#output-viewer {
	width: 100%;
	border: 6px solid red;
}

#code-viewer {
	border: 6px solid gold;
} */

.node div.output {
	padding-left: 18px;
}

.node div.input {
	padding-right: 8px;
}

div.socket {
	border: none;
}

[list]::-webkit-calendar-picker-indicator {
	display: none;
}

.App {
	overflow: hidden;
	/* text-align: center; */
}

.App-header {
	background-color: #282c34;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.User-image {
	height: 40px;
}