* {
	box-sizing: border-box;
}

main {
	display: flex;
	height: calc(100vh - 60px);
}

#graph-editor {
	flex: 7;
}

#graph-output {
	flex: 3;
	border: none;
}

[list]::-webkit-calendar-picker-indicator {
	display: none;
}

.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.User-image {
	height: 40px;
}