body {
	padding-top: 20px;
	text-align: center;
	background: #252525;
}

#teacher, #learner {
	display: block;
	width: 90vw;
	max-width: 500px;
	height: 250px;
	padding: 10px;
	margin: 10px auto;
	border: none;
	outline: none;
	color: ghostwhite;
	background: #1e1e1e;
	resize: none;
}

#btnParse, #btnCompare {
	padding: 5px 20px;
}

#info {
	color: firebrick;
}