* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('https://4.bp.blogspot.com/-cVh3MsTYh38/V0ymcA33VjI/AAAAAAABeds/yr7HNXdx0KoSMLWbf-4bXzoC3UOqxjB9gCLcB/s1600/history%2Bbooks.jpg');
}

h2 {
    margin: 0;
}

p {
    margin-bottom: 30px;
}

#banner {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 0 25px black;
    background-color: slategrey;
    background-image: url('http://pre03.deviantart.net/e971/th/pre/i/2013/164/6/8/hexagonal_cube_pattern_thingie_by_black_light_studio-d68vloo.png');
    background-size: auto 150%;
    background-position: center;
    background-blend-mode: soft-light;
    color: whitesmoke;
    z-index: 1;
}

#bannerText {
    margin: 0;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#head {
    color: azure;
    background: rgba(0, 0, 0, 0.6);
}

#headNode {
    width: 130px;
    height: 130px;
    border: 20px double rgba(240, 255, 255, 0.5);
}

#tail {
    background-color: rgba(0, 0, 0, 0.9);
}

.sections {
    text-align: center;
    font-family: monospace;
}

.nodes {
    width: 85px;
    height: 85px;
    border: 15px double rgba(240, 255, 255, 0.5);
}

.nodes, #headNode {
    margin: auto;
    border-radius: 50%;
    background-color: white;
    background-clip: content-box;
}

.icons {
    position: absolute;
    width: 150px;
}

.lines {
    position: absolute;
    border-radius: 3px;
    background-color: rgba(240, 255, 255, 0.6);
}